nav{
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-image: linear-gradient(to bottom, #000000, transparent);;
    position: relative;
}
a{
    color:var(--pink);

}
button:hover{
    color:var(--pink)
}
.hovre:hover{
    color:var(--pink)
}
.bran{
    margin-left:100px;
}
.i1:hover a{
    color:var(--pink)
}

.nav-right{
    width:500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-right: 200px;
}
.icon{
    font-size:30px;
    cursor: pointer;
}
.icon:hover{
    color:white
}
.models{
    width: 100%;
    height: 720px;
    position: fixed;
    margin-left:0px;
    z-index: 1000;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    top: 0%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.models .modeeds{
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-color: var(--blue);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin-top:10px
}

.modes{
    margin-top: -50px;
}
.mainnav{
    width:100%;
    height: 70px;
    position: relative;
    color: var(--pink);
    background:  var(--blue) ;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.Login{
    width: 150px;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    margin-top: 110px;
}
.Login button{
    width: 70px;
    height: 40px;
    border:none;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    background-color: var(--pink);
    color:white
}
.Login button:hover{
    background-color: white;
    color: var(--pink);
}
.closebtnss{
    font-size: 40px;
    position: absolute;
    left: 75%;
    margin-top: -550px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    z-index: 1000;
}
.guner{
    display:flex;
}
.closebtnssx{
    font-size: 40px;
    position: absolute;
    margin-left: 750px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    z-index: 1000;
}
.closebtnss:hover{
    color:darkgrey;
} 
.settings{
    display:flex;
    justify-content: center;
    align-items: center;
}
.feedback{
    width:400px;
    height:450px;
    justify-content: space-around;
    background-color: var(--pink);
    align-items:center;
    display:flex;
    flex-direction: column;
}
.feedback form{
    width: 400px;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-top: -70px;
    gap:10px;
}
.feedback form :first-child{
    width: 300px;
    height:50px;
    border-radius: 5px;
    outline: none;
}
.feedback form :nth-child(2){
    width:300px;
    height:200px;
    border-radius: 5px;
}
.feedback form button{
    width: 300px;
    height:40px;
    border-radius: 30px;
    background-color: var(--blue);
    color: white;
    border: none;
    transition:ease 0.5s;
    border: 2px solid var(--blue);
}
.feedback form button:hover{
    background: white;
    color:var(--pink);
}
.themes{
    flex-direction:column;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.themsbtns{
    height: 400px;
    width:400px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.btnsss{
    width: 170px;
    height: 130px;
    border: 1px solid black;
    font-size: 30px;
}
.btnsss span{
    color:white;
    margin-top: -80px;
    margin-left: -50px;
    position: absolute;
}
.bp{
    color: #ff4655;
    background-color: #0f1923;
}
.bg{
    color: #00a82a;
    background-color: black;
    border: 1px solid white;
}
.pc{
    background-color: rgb(56, 3, 56);
    color: #00C9B8;
}
.bo{
    background-color: brown;
    color:orangered;
}
.search{
    display:flex;
    justify-content:center;
    align-items: center;
}
.search .maps{
    width: 100%;
    height: 100%;
    display: block;
    border-right: 2px solid black;
}
.sera{
    width:300px;
    height: 30px;
    background: rgba( 0, 0, 0, 0.25 );
    border-radius: 10px;
    margin-left: 100px;
    border: grey 1px solid;

}
.navright{
    margin-left: -100px !important;
}
.maps input{
    width: 500px;
    height:50px;
    margin-bottom: 5px;
    background:white;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 40px;
    position: static;
}
 .list{
    width: 100%;
    height: 100%;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr) ;
    overflow-y:scroll;
    overflow-x: hidden;
    justify-content: center;
    column-gap: 0px;
    row-gap: 40px;
}

.seacard{
    height: 250px;
    width: 100px;
    background-size:100% 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 20px;
}
.seacard img{
    height: 180px;
    width: 100px;
    position:relative;
    object-fit: cover;
    z-index: 99;
    padding-top: 30px;
}
.seacard .h2{
    width: 100px;
    height: 20px;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    padding-bottom: 70px;
    position:relative;
    z-index: 99;
}
.seacard .h2:hover{
    color: var(--pink);
}
.list::-webkit-scrollbar {
    width: 7px;
}

.list::-webkit-scrollbar-track {
    background: #4c4848;
}

    .list::-webkit-scrollbar-thumb {
    background-color: #908792;
    border-radius: 10px;
    border: 3px solid #908792;
    }


.sea{
    position:relative;
    left:0;
    margin-top:0;
    margin-left: 100px;
}

.modes{
    height: 600px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.namee{
    width:800px;
    height: 20px !important;
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    margin-top: -550px;
    font-size: 20px;

}
.watchlist{
    margin-top: 100px;
    background-color: transparent;
    width:800px !important;
    height:550px !important;
    max-height: 550px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    border-top: 2px white;
    column-gap: -15px !important;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    row-gap: 50px !important;
    z-index: 1;
}
.cardwatchlist{
    height: 200px !important;
    width: 150px !important;
    display: flex;
    margin-bottom: -100px;
    border-radius: 15px;
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: 3px 4px 53px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    margin-top: 70px;
    flex-direction: column;
    margin-left: 35px;
    z-index: 2;

}

.cardwatchlist .showup{
    width:150px !important;
    height: 65px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    justify-content: space-around !important;
    align-items: flex-start;
    font-size: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px !important;
    transition: all .3s ease;
    cursor: pointer;
    margin-top: 140px;
    opacity: 0;
    overflow: hidden;
    backdrop-filter: blur(5px);
}


.showup .h3{
    margin-left: 5px;
    font-size:14px;
}
.showup .h4{
    margin-left: 5px;
    font-size: 10px;
}
.divi{
    width: 50;
    height: 20px;
    display:flex !important;
    align-items:flex-start;
    color:yellow;
    font-size: 20px;
    margin-top: -2px;
    margin-left: 10px;
}
.divi :first-child{
    object-fit: fill;
    background: transparent;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}
.divi :nth-child(2){
    margin-top: 2px;
    font-size: 15px;
    margin-left: 4px;
}
.divi span{
    font-size: 15px;
    color:white;
}
.cardwatchlist:hover .showup{
    opacity:10;
}

.watchlist::-webkit-scrollbar {
    width: 7px;
}

.watchlist::-webkit-scrollbar-track {
    background: #4c4848;
}

.watchlist::-webkit-scrollbar-thumb {
    background-color: #908792;
    border-radius: 10px;
    border: 3px solid #908792;
}


.c{
    position:absolute;
    background:transparent;
    color:red;
    border:none;
    margin-top: 2px;
    cursor:pointer;

}



.logos{
    display:none;
    transition: 0.5s ease;
    font-weight: bolder;
    margin-top:-500px !important;
    position: absolute;
}

.logos2{
    color: var(--pink);
    margin-left: 5px;
    margin-top:-500px;
    position: absolute;
    font-weight: bolder;
}


.valid{
    height:50px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.valid div{
    font-size:12px;
    color:#fff;
}














@media only screen and (max-width:600px){
    nav{
        width:100%;
        
    }
    .modals{
        margin-left: -100px !important;
    }
    .navbarContent{
        padding-right: 100px;
        display: flex;
        flex-direction: column-reverse;
        margin-left: -80px;
    }
    .icon{
        display:flex;
        gap:50px
    }
    .navight{
        justify-content: center;
        align-items: center;
        margin-left: 120px;
        display:flex;
        flex-direction: column;
    }
    .sera{
        margin-left:120px;
    }

    .mainnav{
        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        max-width:600px;
    }
    .mainnav h2{
        display:none;
    }

    .logos{
        display:block;
        position:absolute;
        margin-top: -100px;
        margin-left: 150px;
    }
    .Login{
        display: none;
    }
    .models{
        width:100%;
        height:1000px;
        margin-left: 0px;

    }
    .search{
        width:400px;
        height: 500px;
        min-height:5 00px;

    }
    .maps input{
        width: 300px;
        margin-left:15px;
    }
    .maps .list{
        display:grid;
        grid-template-columns: repeat(2 , 1fr) ;
    }
    .feedback{
        display:none;
    }
    .sett{
        max-width:400px;
    }
    .closebtnssx{
        margin-left:360px;
    }
    .cardwatchlist .showup{
        opacity:10;
    }
}
