
.App {
  box-sizing: border-box;
  display: flex;
  background-color:var(--blue);
  width: auto;
  overflow: hidden;

}
@media only screen and (max-width:600px){

  .App{
    flex-direction: column;
  }
}

